In [91]:
# magic function para hacer que los graficos de matplotlib se renderizen en el notebook.
%matplotlib notebook

import datetime as datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

plt.style.use('default') # Make the graphs a bit prettier
plt.rcParams['figure.figsize'] = (15, 5)

In [178]:
person_data = {
        'padron': ['95001', '95002', '95003', '95001', '95005','95005','95005','95005'],
        'materia': ['Analisis_Matematico', 'Algebra', 'Algoritmos_1', 'Algoritmos_2', 'Orga_Datos','Orga_Computador','Mat_Discreta','Medios'],
        'nota': ['9', '8', '7', '7', '8','6','10','2'],
        'fecha': ['01-08-2017', '02-04-2016', '30-08-2019', '04-05-2018', '25-11-2019','25-04-2019','12-12-2019','10-10-2019'],
}

df_a = pd.DataFrame(person_data, columns = ['padron', 'materia','nota','fecha'])

In [179]:
df_a

  padron              materia nota       fecha
0  95001  Analisis_Matematico    9  01-08-2017
1  95002              Algebra    8  02-04-2016
2  95003         Algoritmos_1    7  30-08-2019
3  95001         Algoritmos_2    7  04-05-2018
4  95005           Orga_Datos    8  25-11-2019
5  95005      Orga_Computador    6  25-04-2019
6  95005         Mat_Discreta   10  12-12-2019
7  95005               Medios    2  10-10-2019

In [180]:
type(df_a)

pandas.core.frame.DataFrame

In [181]:
df_a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
padron     8 non-null object
materia    8 non-null object
nota       8 non-null object
fecha      8 non-null object
dtypes: object(4)
memory usage: 336.0+ bytes

In [182]:
#Convierto a enteros la columna nota
df_b=df_a.loc[:,'nota'].astype(int)
df_b

0     9
1     8
2     7
3     7
4     8
5     6
6    10
7     2
Name: nota, dtype: int32

In [183]:
#Busco la nota mas baja
df_b.min()

2

In [184]:
#Busco la nota mas alta
df_b.max()

10

In [185]:
#Busco el promedio de todas las notas (punto 1A)
df_b.mean()

7.125

In [186]:
#filtro por aÃ±o 
df_d=df_a.loc[df_a.fecha>"2018",:]
df_d

  padron          materia nota       fecha
2  95003     Algoritmos_1    7  30-08-2019
4  95005       Orga_Datos    8  25-11-2019
5  95005  Orga_Computador    6  25-04-2019

In [187]:
#Busco la nota mas baja durante 2019 (punto 2B)
df_d.nota.min()

'6'

In [188]:
#Busco la nota mas alta durante 2019 (punto 2B)
df_d.nota.max()

'8'

In [189]:
#Convierto a formato datetima la columna fecha
df_a.loc[:, "fecha"] = pd.to_datetime(df_a["fecha"])
df_a

  padron              materia nota      fecha
0  95001  Analisis_Matematico    9 2017-01-08
1  95002              Algebra    8 2016-02-04
2  95003         Algoritmos_1    7 2019-08-30
3  95001         Algoritmos_2    7 2018-04-05
4  95005           Orga_Datos    8 2019-11-25
5  95005      Orga_Computador    6 2019-04-25
6  95005         Mat_Discreta   10 2019-12-12
7  95005               Medios    2 2019-10-10

In [190]:
#Verifico el paso anterior
df_a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
padron     8 non-null object
materia    8 non-null object
nota       8 non-null object
fecha      8 non-null datetime64[ns]
dtypes: datetime64[ns](1), object(3)
memory usage: 336.0+ bytes

In [191]:
#Filtro para obtener el 2do cuatrimestre de 2019
df_m=df_a.loc[df_a.fecha>"08-2019",:]
df_m

  padron       materia nota      fecha
2  95003  Algoritmos_1    7 2019-08-30
4  95005    Orga_Datos    8 2019-11-25
6  95005  Mat_Discreta   10 2019-12-12
7  95005        Medios    2 2019-10-10

In [192]:
#Pero antes necesito la columna nota como entero , para poder hacer calculos
df_o=df_a.loc[:,'nota'].astype(int)
df_a.loc[:,'nota']=df_a.loc[:,'nota'].astype(int)
df_a

  padron              materia  nota      fecha
0  95001  Analisis_Matematico     9 2017-01-08
1  95002              Algebra     8 2016-02-04
2  95003         Algoritmos_1     7 2019-08-30
3  95001         Algoritmos_2     7 2018-04-05
4  95005           Orga_Datos     8 2019-11-25
5  95005      Orga_Computador     6 2019-04-25
6  95005         Mat_Discreta    10 2019-12-12
7  95005               Medios     2 2019-10-10

In [193]:
df_a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
padron     8 non-null object
materia    8 non-null object
nota       8 non-null int32
fecha      8 non-null datetime64[ns]
dtypes: datetime64[ns](1), int32(1), object(2)
memory usage: 304.0+ bytes

In [194]:
df_o=df_a.loc[df_a.fecha>"08-2019",:]
df_o

  padron       materia  nota      fecha
2  95003  Algoritmos_1     7 2019-08-30
4  95005    Orga_Datos     8 2019-11-25
6  95005  Mat_Discreta    10 2019-12-12
7  95005        Medios     2 2019-10-10

In [195]:
#Busco el promedio por padron en el 2do cuatrimetre de 2019
df_o.groupby(['padron'])['nota'].agg('mean')

padron
95003    7.000000
95005    6.666667
Name: nota, dtype: float64

In [196]:
#Busco el promedio por padron a lo largo del tiempo (punto 1E)
df_a.groupby(['padron'])['nota'].agg('mean')

padron
95001    8.0
95002    8.0
95003    7.0
95005    6.5
Name: nota, dtype: float64

In [222]:
#Busco el padron que mas aprobo materias ,primero filtro las notas aprobadas
#Agrego la columna aprobo de tipo boolean
df_a['aprobo']=df_a.loc[:,'nota']>4
df_a

  padron              materia  nota      fecha  aprobo
0  95001  Analisis_Matematico     9 2017-01-08    True
1  95002              Algebra     8 2016-02-04    True
2  95003         Algoritmos_1     7 2019-08-30    True
3  95001         Algoritmos_2     7 2018-04-05    True
4  95005           Orga_Datos     8 2019-11-25    True
5  95005      Orga_Computador     6 2019-04-25    True
6  95005         Mat_Discreta    10 2019-12-12    True
7  95005               Medios     2 2019-10-10   False

In [223]:
df_a2=df_a.loc[df_a['aprobo']==True,:]
df_a2

  padron              materia  nota      fecha  aprobo
0  95001  Analisis_Matematico     9 2017-01-08    True
1  95002              Algebra     8 2016-02-04    True
2  95003         Algoritmos_1     7 2019-08-30    True
3  95001         Algoritmos_2     7 2018-04-05    True
4  95005           Orga_Datos     8 2019-11-25    True
5  95005      Orga_Computador     6 2019-04-25    True
6  95005         Mat_Discreta    10 2019-12-12    True

In [224]:
#Agrupo por padron y contando las cantidades de True`s que tengo para cada padron
df_mas_aprobadas=df_a2.groupby(['padron',])['aprobo'].agg('count')
df_mas_aprobadas

padron
95001    2
95002    1
95003    1
95005    3
Name: aprobo, dtype: int64

In [225]:
type(df_mas_aprobadas)

pandas.core.series.Series

In [227]:
#Me quedo con la cantidad de materias aprobadas mas alta de todos los padrones 
#y asi obtengo el padron que mas materia aprobo (punto 1C)
df_mas_aprobadas.sort_values(ascending=False).head(1)

padron
95005    3
Name: aprobo, dtype: int64

In [230]:
#Busco la nota promedio ,para eso agrupo por notas y luego filtro la que mas aparece
df_nota_promedio=df_a.groupby(['nota',])['nota'].agg('count')
df_nota_promedio

nota
2     1
6     1
7     2
8     2
9     1
10    1
Name: nota, dtype: int64

In [232]:
#Filtro la nota que mas aparece ,para obtener la nota promedio (punto 1D)
df_nota_promedio.sort_values(ascending=False).head(1)

nota
8    2
Name: nota, dtype: int64